@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Main';
    src: url('../../public/medias/PPPangaia-Medium.ttf');
}
 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Main';
}
